.categories .category-children small, .category .category-children small, .subcategory .category-children small {
    color: #b10622;
}

.category>ul>li:not(.unread) h2 a {
    color: #114585;
}

.categories>p, .category>p, .subcategory>p {
    color: #114585;
    font-weight: bold;
}

.categories-title {
    color: #114585;
    font-weight: bold;
}

.category>ul>li .tag-list .tag {
    background: #c7ced4;
}
