.topic .posts [component=post] {
    border-bottom: 1px solid #87c4ff;
}

.topic .post-signature {
    border-top: 1px dashed #87c4ff;
}

.topic .necro-post {
    border-bottom: 1px solid #87c4ff;
}

.topic [component="post/downvote"].downvoted, .topic [component="post/upvote"].upvoted {
    filter: brightness(50%);
}
