@import "../nodebb-theme-persona/theme";
@import "./less/forobolso";

.header .forum-logo {
    padding-top: 7px;
    padding-bottom: 7px;
}

element.style {}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #114585;
}

#nprogress .bar {
    background: red;
}

blockquote {
    border-left: 5px solid #e03636;
    background-color: #bedeff;
}

blockquote .uncollapsed {
    border-left: 5px solid #e03636;
    background-color: #81a4f3;
}

#content {
  background: #e9f0f5;
  background-color: rgba(233,240,245,0.95);
}

.recent-cards .recent-card .bg {
    background-image: none !important;
    background-color: #bedeff;
}

body {
  background: url('https://i.imgur.com/X2GqhdY.jpg');
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
}

.widget-stats .users-today .user-item, .widget-stats .users-online .user-item {
    line-height: 1.7;
    font-size: 15px;
}

